<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnWarning="true">

    <testsuites>
        <testsuite name="Valksor Complete">
            <!-- Currently only Date functions have tests -->
            <directory>src/Valksor/Functions/Date/tests</directory>
            <!-- Add more test directories as they are created:
            <directory>src/Valksor/Bundle/tests</directory>
            <directory>src/Valksor/Component/DoctrineTools/tests</directory>
            <directory>src/Valksor/Component/SpxProfiler/tests</directory>
            <directory>src/Valksor/Component/Sse/tests</directory>
            <directory>src/Valksor/Functions/Handler/tests</directory>
            <directory>src/Valksor/Functions/Iteration/tests</directory>
            <directory>src/Valksor/Functions/Latvian/tests</directory>
            <directory>src/Valksor/Functions/Local/tests</directory>
            <directory>src/Valksor/Functions/Memoize/tests</directory>
            <directory>src/Valksor/Functions/Number/tests</directory>
            <directory>src/Valksor/Functions/Pagination/tests</directory>
            <directory>src/Valksor/Functions/Php/tests</directory>
            <directory>src/Valksor/Functions/Preg/tests</directory>
            <directory>src/Valksor/Functions/Queue/tests</directory>
            <directory>src/Valksor/Functions/Sort/tests</directory>
            <directory>src/Valksor/Functions/Text/tests</directory>
            <directory>src/Valksor/Functions/Web/tests</directory>
            -->
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src/Valksor</directory>
        </include>
        <exclude>
            <directory>src/Valksor/*/tests</directory>
            <directory>src/Valksor/*/*/tests</directory>
            <directory>src/Valksor/*/*/*/tests</directory>
            <directory>src/Valksor/*/vendor</directory>
            <directory>src/Valksor/*/*/vendor</directory>
            <directory>src/Valksor/*/.coverage</directory>
            <directory>src/Valksor/*/*/.coverage</directory>
            <directory>src/Valksor/*/.phpunit.cache</directory>
            <directory>src/Valksor/*/*/.phpunit.cache</directory>
            <directory>src/Valksor/*/docs</directory>
            <directory>src/Valksor/*/*/docs</directory>
            <directory>src/Valksor/*/.github</directory>
            <directory>src/Valksor/*/*/.github</directory>
            <directory>src/Valksor/Bundle/var</directory>
            <directory>src/Valksor/Bundle/recipe</directory>
            <directory>vendor</directory>
            <directory>.coverage</directory>
            <directory>.phpunit.cache</directory>
            <directory>.github</directory>
        </exclude>
    </source>

    <coverage>
        <report>
            <html outputDirectory=".coverage"/>
            <text outputFile=".coverage/coverage.txt"/>
            <clover outputFile=".coverage/clover.xml"/>
            <cobertura outputFile=".coverage/cobertura.xml"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile=".coverage/tests-results.xml"/>
    </logging>
</phpunit>
