<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory="/tmp/.phpunit.cache"
    executionOrder="depends"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutCoverageMetadata="true"
    controlGarbageCollector="true"
>

    <php>
        <ini name="memory_limit" value="-1" />
    </php>

    <testsuites>
        <testsuite name="All Functions">
            <directory>Date/Tests</directory>
            <directory>Handler/Tests</directory>
            <directory>Iteration/Tests</directory>
            <directory>Latvian/Tests</directory>
            <directory>Local/Tests</directory>
            <directory>Memoize/Tests</directory>
            <directory>Number/Tests</directory>
            <directory>Pagination/Tests</directory>
            <directory>Preg/Tests</directory>
            <directory>Queue/Tests</directory>
            <directory>Sort/Tests</directory>
            <directory>Text/Tests</directory>
            <directory>Web/Tests</directory>
            <directory>Php/Tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>Date</directory>
            <directory>Handler</directory>
            <directory>Iteration</directory>
            <directory>Latvian</directory>
            <directory>Local</directory>
            <directory>Memoize</directory>
            <directory>Number</directory>
            <directory>Pagination</directory>
            <directory>Php</directory>
            <directory>Preg</directory>
            <directory>Queue</directory>
            <directory>Sort</directory>
            <directory>Text</directory>
            <directory>Web</directory>
        </include>
        <exclude>
            <directory>*/Tests</directory>
            <directory>*/vendor</directory>
            <directory>*/.coverage</directory>
            <directory>*/.phpunit.cache</directory>
            <directory>*/docs</directory>
            <directory>*/.github</directory>
            <directory>vendor</directory>
            <directory>.coverage</directory>
            <directory>.phpunit.cache</directory>
            <directory>.github</directory>
            <directory>core</directory>
        </exclude>
    </source>

    <coverage
        ignoreDeprecatedCodeUnits="true"
        disableCodeCoverageIgnore="true"
    >
        <report>
            <clover outputFile=".coverage/clover.xml"/>
            <cobertura outputFile=".coverage/cobertura.xml"/>
            <html outputDirectory=".coverage"/>
            <text outputFile=".coverage/coverage.txt"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile=".coverage/junit.xml"/>
    </logging>
</phpunit>
